{% extends 'base.html.twig' %}

{% block title %}Conge{% endblock %}

{% block body %}
    <h1>Conge</h1>

    {{ '<div>coucou'~'</div>' }}

    {% if 'today' is weekend %}
        <p>Vous ne pouvez pas poser de congé</p>
    {% else %}
        <p>Vous pouvez poser des congés</p>
    {% endif %}

    {{ render_esi(controller('App\\Controller\\MenuController::menu')) }}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ conge.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ conge.type }}</td>
            </tr>
            <tr>
                <th>Debut</th>
                <td>{{ conge.debut ? conge.debut|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_conge_index') }}">back to list</a>

    <a href="{{ path('app_conge_edit', {'id': conge.id}) }}">edit</a>

    {{ include('conge/_delete_form.html.twig') }}
{% endblock %}
